version: "3.4"
services:
  todo-app:
    build: .
    ports:
      - 3000:3000
  mongodb:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - java-mongo-todo:/data/db

volumes:
  java-mongo-todo:
